/* index页面新增CSS */
.index-header{
	display: inline-block;
	padding-left: 20px;
	width: 80px;
	height: 100px;
	line-height: 80px;
	
	text-align: center;
}

.banner-title em{
	background: #e52d50;
	padding: 2px 5px;
	color: #FFF;
	margin-right: 10px;
}
.banner-title{
	font-size: 18px;
	color: #e52d50;
	float: left;
}

/* 为首页引导项添加 指向更多的链接 */
.Section_title .name span {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: red 1px solid;
	border-radius: 50%;
}
.Section_title .name a{
	display: inline-block;
	height: 15px;
	width: 15px;
	line-height: 15px;
	text-align: center;
	color: red;
	font-size: 10px;
}

/* <span><a href="#">></a></span> */